@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Moment 1.1 - Razor</h1>
   

</div>


@section Scripts
    {
    <script>
        $('#homeLink').removeClass('notactive');
        $('#homeLink').addClass('active');
    </script>
}

