@page
@model Moment1._1.Pages.RazorModel
@{
    ViewData["Title"] = "Razor";

    string[] courses = { "DT057G, Webbutveckling 1", "DT084G, Introduktion till programmering i JavaScript",
    "DT068G, Webbanvändbarhet", "DT003G, Databaser", "DT093G, Webbutveckling 2", "DT197G, Webbdesign för CMS",
    "DT173G, Webbutveckling 3", "IK060G, Projektledning", "DT193G, Fullstackutveckling med ramverk",
    "DT162G, JavaScript-baserad webbutveckling", "DT071G, Programmering i C#.NET"};

    //Variabel för nuvarande dag och tid
    var date = DateTime.Now;
    //Variabel för veckodag
    var currentWeekday = (int)date.DayOfWeek; //Söndag är 0

}
<h1> Razor</h1>
<h2>Information</h2>
<p><strong>Datum/klockslag:
</strong> @date</p>

<!-- Kontrolellerar veckodag-->
@if(currentWeekday == 1)
{
    <p>Idag är det måndag!</p>
}else
{
    <p>Idag är det inte måndag!</p>
}

<h3>Kurser jag läst</h3>
<!-- Loop igenom array med kurser-->
<ul>
    @foreach(var course in courses)
    {
     <li class="list">@course</li>
    }
</ul>

<h3>Nedräkning till examen</h3>
<h4 id="graduation"></h4>

@section Scripts
{
    <script>
        $('#razorLink').removeClass('notactive');
        $('#razorLink').addClass('active');
    </script>
}

